/* Color de fondo */
body {
  background: steelblue;
}

/* Formato del slider */
.slider {
  max-width: 225px;    /* Tamaño (máximo) de ancho de las imágenes */
  margin: auto;
}

/* Formato del slider */
.ba-slider {
  width: 225px;
  margin: auto;
  border: 5px solid #000;
}


